body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  padding: 0 2rem;

  &--card {
    @media screen and (min-width: 900px) {
      width: 70%;
      display: flex;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
    }
  }
}
